<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Bootstrap</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="mainText" th:fragment="container">
            <div class="col-md-12 column">
                <div class="page-header">
                    <h2>
                        站线管理
                        <small>管理站线信息</small>
                    </h2>
                </div>
            </div>

            <div class="col-md-9 column border-right">
                <div>
                    <!--搜索框-->
                    <form class="form-horizontal" role="form" th:action="@{${url} + '/select'}">
                        <div class="form-group col-sm-3">
                            <input type="number" class="form-control" name="lineId" placeholder="请输入站线编号"/>
                        </div>
                        <div class="form-group col-sm-2" style="margin-left: 20px">
                            <button type="submit" class="btn btn-success">查询站线</button>
                        </div>
                    </form>
                    <!--导出按钮-->
                    <span class="pull-right">
                         <a class="btn btn-primary" style="width: 145px"
                            th:href="@{${url} + '/export'}">
                             <span class="glyphicon glyphicon-list-alt"></span>
                             &nbsp;&nbsp;导出到Excel
                         </a>
                    </span>
                </div>

                <div>
                    <!--表格-->
                    <table class="table table-bordered table-hover">
                        <!--表头-->
                        <thead>
                        <tr>
                            <th>
                                站线编号
                            </th>
                            <th>
                                站线顺序(0为终点站)
                            </th>
                            <th>
                                线路编号
                            </th>
                            <th>
                                线路名称
                            </th>
                            <th>
                                站点编号
                            </th>
                            <th>
                                站点名称
                            </th>
                            <th style="width: 145px">
                                操作
                            </th>
                        </tr>
                        </thead>
                        <!--表格内容-->
                        <tbody>
                        <tr class="warning" th:each="lineStation:${pageList.list}">
                            <!--遍历列表-->
                            <!--/*@thymesVar id="lineStation" type="factory.management.system.project.pojo.LineStation"*/-->
                            <div th:object="${lineStation}">
                                <td th:text="*{lsId}"></td>
                                <td th:text="*{sequence}"></td>
                                <td th:text="*{lineId}"></td>
                                <div th:each="line:${lineList}">
                                    <!--/*@thymesVar id="line" type="factory.management.system.project.entity.Line"*/-->
                                    <div th:if="${line.lineId} == ${lineStation.lineId}">
                                        <td th:text="${line.lineName}"></td>
                                    </div>
                                </div>
                                <td th:text="*{stationId}"></td>
                                <div th:each="station:${stationList}">
                                    <!--/*@thymesVar id="station" type="factory.management.system.project.entity.Station"*/-->
                                    <div th:if="${station.stationId} == ${lineStation.stationId}">
                                        <td th:text="${station.stationName}"></td>
                                    </div>
                                </div>
                                <td>
                                    <!--操作按钮-->
                                    <div style="margin: -5px 0 -5px 0">
                                        <!--修改按钮-->
                                        <span class="">
                                         <!--修改按钮-->
                                         <a id="modal-1" th:href="@{'#' + ${lineStation.lsId}}" role="button"
                                            class="btn btn-info btn-sm" data-toggle="modal">
                                             <span class="glyphicon glyphicon-file"></span>
                                             修改
                                         </a>
                                            <!--遮罩窗体-->
                                         <div class="modal fade" th:id="${lineStation.lsId}" role="dialog"
                                              aria-labelledby="myModalLabel" aria-hidden="true">
                                             <div class="modal-dialog">
                                                 <div class="modal-content">
                                                     <form role="form" method="post" th:action="@{${url} + '/update'}">
                                                         <div class="modal-header">
                                                             <h4 class="modal-title" id="myModalLabel"
                                                                 style="color: steelblue">
                                                                 修改站线
                                                             </h4>
                                                             <button type="button" class="close" data-dismiss="modal"
                                                                     aria-hidden="true">×</button>
                                                         </div>
                                                         <div class="modal-body" style="font-size: 15px">
                                                             <div class="form-group">
                                                                 <input type="hidden" class="form-control"
                                                                        name="lsId"
                                                                        th:value="${lineStation.lsId}">
                                                             </div>
                                                             <div class="form-group">
                                                                 <label>站线顺序</label>
                                                                 <input type="number" class="form-control"
                                                                        name="sequence" required="" autofocus=""
                                                                        th:value="${lineStation.sequence}">
                                                             </div>
                                                             <!--/*@thymesVar id="line" type="factory.management.system.project.entity.Line"*/-->
                                                             <!--/*@thymesVar id="station" type="factory.management.system.project.entity.Station"*/-->
                                                             <div class="form-group">
                                                                <label>线路名称</label>
                                                                <select class="form-control" name="lineId" required="">
                                                                    <div th:each="line:${lineList}" th:object="${line}">
                                                                        <option th:text="*{lineName}"
                                                                                th:value="*{lineId}"
                                                                                th:selected="(${line.lineId} == ${lineStation.lineId})"></option>
                                                                    </div>
                                                                </select>
                                                             </div>
                                                             <div class="form-group">
                                                                <label>站点名称</label>
                                                                <select class="form-control" name="stationId"
                                                                        required="">
                                                                    <div th:each="station:${stationList}"
                                                                         th:object="${station}">
                                                                        <option th:text="*{stationName}"
                                                                                th:value="*{stationId}"
                                                                                th:selected="(${station.stationId} == ${lineStation.stationId})"></option>
                                                                    </div>
                                                                </select>
                                                             </div>
                                                         </div>
                                                         <div class="modal-footer form-group">
                                                             <button type="button" class="btn btn-default"
                                                                     data-dismiss="modal">关闭</button>
                                                             <button type="submit"
                                                                     class="btn btn-primary">保存</button>
                                                         </div>
                                                     </form>
                                                 </div>
                                             </div>
                                         </div>
                                         </span>
                                        <!--删除按钮-->
                                        <span class="">
                                             <a class="btn btn-danger btn-sm"
                                                th:href="@{${url} + '/delete?lsId=' + ${lineStation.lsId}}">
                                                 <span class="glyphicon glyphicon-trash"></span>
                                                 删除
                                             </a>
                                         </span>
                                    </div>
                                </td>
                            </div>
                        </tr>
                        </tbody>
                    </table>

                    <!--分页-->
                    <div class="pagination" th:replace="pagination::pagination"></div>
                </div>
            </div>

            <div class="col-md-3 column">
                <!--新增站线表单-->
                <div style="margin: 25px 20px 0px 10px">
                    <form class="form-horizontal" role="form" method="post" th:action="@{${url} + '/insert'}">
                        <div class="form-group">
                            <label>站线顺序</label>
                            <input type="number" class="form-control" name="sequence" required=""
                                   autofocus="" placeholder="请从2开始输入">
                        </div>
                        <!--/*@thymesVar id="line" type="factory.management.system.project.entity.Line"*/-->
                        <!--/*@thymesVar id="station" type="factory.management.system.project.entity.Station"*/-->
                        <div class="form-group">
                            <label>线路名称</label>
                            <select class="form-control" name="lineId" required="">
                                <div th:each="line:${lineList}" th:object="${line}">
                                    <option th:text="*{lineName}" th:value="*{lineId}"></option>
                                </div>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>站点名称</label>
                            <select class="form-control" name="stationId" required="">
                                <div th:each="station:${stationList}" th:object="${station}">
                                    <option th:text="*{stationName}" th:value="*{stationId}"></option>
                                </div>
                            </select>
                        </div>
                        <div class="form-group" style="margin-top: 30px">
                            <button type="submit" class="btn btn-success btn-block">新增站线</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>