<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Bootstrap</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="mainText" th:fragment="container">
            <div class="col-md-12 column">
                <div class="page-header">
                    <h2>
                        站点管理
                        <small>管理站点信息</small>
                    </h2>
                </div>
            </div>

            <div class="col-md-9 column border-right">
                <div>
                    <!--搜索框-->
                    <form class="form-horizontal" role="form" th:action="@{${url} + '/select'}">
                        <div class="form-group col-sm-3">
                            <input type="number" class="form-control" name="stationId" placeholder="请输入站点编号"/>
                        </div>
                        <div class="form-group col-sm-2" style="margin-left: 20px">
                            <button type="submit" class="btn btn-success">查询站点</button>
                        </div>
                    </form>
                </div>

                <div>
                    <!--表格-->
                    <table class="table table-bordered table-hover">
                        <!--表头-->
                        <thead>
                        <tr>
                            <th>
                                站点编号
                            </th>
                            <th>
                                站点名称
                            </th>
                            <th>
                                站点地址
                            </th>
                            <th style="width: 145px">
                                操作
                            </th>
                        </tr>
                        </thead>
                        <!--表格内容-->
                        <tbody>
                        <tr class="warning" th:each="station:${pageList.list}">
                            <!--遍历列表-->
                            <!--/*@thymesVar id="station" type="factory.management.system.project.pojo.station"*/-->
                            <div th:object="${station}">
                                <td th:text="*{stationId}"></td>
                                <td th:text="*{stationName}"></td>
                                <td th:text="*{stationLocation}"></td>
                                <td>
                                    <!--操作按钮-->
                                    <div style="margin: -5px 0 -5px 0">
                                        <!--修改按钮-->
                                        <span class="">
                                         <!--修改按钮-->
                                         <a id="modal-1" th:href="@{'#' + ${station.stationId}}" role="button"
                                            class="btn btn-info btn-sm" data-toggle="modal">
                                             <span class="glyphicon glyphicon-file"></span>
                                             修改
                                         </a>
                                            <!--遮罩窗体-->
                                         <div class="modal fade" th:id="${station.stationId}" role="dialog"
                                              aria-labelledby="myModalLabel" aria-hidden="true">
                                             <div class="modal-dialog">
                                                 <div class="modal-content">
                                                     <form role="form" method="post" th:action="@{${url} + '/update'}">
                                                         <div class="modal-header">
                                                             <h4 class="modal-title" id="myModalLabel"
                                                                 style="color: steelblue">
                                                                 修改站点
                                                             </h4>
                                                             <button type="button" class="close" data-dismiss="modal"
                                                                     aria-hidden="true">×</button>
                                                         </div>
                                                         <div class="modal-body" style="font-size: 15px">
                                                             <div class="form-group">
                                                                 <input type="hidden" class="form-control"
                                                                        name="stationId"
                                                                        th:value="${station.stationId}">
                                                             </div>
                                                             <div class="form-group">
                                                                 <label>站点名称</label>
                                                                 <input type="text" class="form-control"
                                                                        name="stationName" required="" autofocus=""
                                                                        th:value="${station.stationName}">
                                                             </div>
                                                             <div class="form-group">
                                                                 <label>站点地址</label>
                                                                 <input type="text" class="form-control"
                                                                        name="stationLocation" required=""
                                                                        th:value="${station.stationLocation}">
                                                             </div>
                                                         </div>
                                                         <div class="modal-footer form-group">
                                                             <button type="button" class="btn btn-default"
                                                                     data-dismiss="modal">关闭</button>
                                                             <button type="submit"
                                                                     class="btn btn-primary">保存</button>
                                                         </div>
                                                     </form>
                                                 </div>
                                             </div>
                                         </div>
                                         </span>
                                        <!--删除按钮-->
                                        <span class="">
                                             <a class="btn btn-danger btn-sm"
                                                th:href="@{${url} + '/delete?stationId=' + ${station.stationId}}">
                                                 <span class="glyphicon glyphicon-trash"></span>
                                                 删除
                                             </a>
                                        </span>
                                    </div>
                                </td>
                            </div>
                        </tr>
                        </tbody>
                    </table>

                    <!--分页-->
                    <div class="pagination" th:replace="pagination::pagination"></div>
                </div>
            </div>

            <div class="col-md-3 column">
                <!--新增站点表单-->
                <!--/*@thymesVar id="station" type="factory.management.system.project.entity.Station"*/-->
                <div style="margin: 25px 20px 0px 10px" th:object="${station}">
                    <form class="form-horizontal" role="form" method="post" th:action="@{${url} + '/insert'}">
                        <div class="form-group">
                            <label>站点名称</label>
                            <input type="text" class="form-control" name="stationName" id="stationName" required="" autofocus="" th:value="*{stationName}">
                        </div>
                        <div class="form-group">
                            <label>站点地址</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="stationLocation" required="" placeholder="请选择或输入站点地址"
                                        th:value="*{stationLocation}">
                                <!--选择按钮-->
                                <span class="input-group-btn">
                                     <a class="btn btn-info" th:href="@{${url} + '/map?stationName=' + ${stationName}}">
                                         <span class="glyphicon glyphicon-map-marker"></span>
                                         选择
                                     </a>
                                </span>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 30px">
                            <button type="submit" class="btn btn-success btn-block">新增站点</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script>
    document.addEventListener("query", function (evt) {
        var name = document.getElementById("stationName");

        $.ajax({
            url : "http://localhost:9000/server/station/map",
            async : true,
            dataType : "json",
            data : {
                "location" : name
            },
            error : function() {
                alert("请求失败");
            },
        });
    });
</script>-->
</body>
</html>