<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="factory.management.system.project.mapper.EmployeeMapper">
  <resultMap id="BaseResultMap" type="factory.management.system.project.entity.Employee">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="employee_id" jdbcType="INTEGER" property="employeeId" />
    <result column="employee_name" jdbcType="VARCHAR" property="employeeName" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
  </resultMap>
</mapper>